{% load static %}
<nav class="navbar sticky-top navbar-light bg-dark">
	<div class="container">
  <div class="row">
    <div class="col">
      <a href="/init">
        <div class="card-body container d-flex p-3">
          <div class="card-indicator-icon mr-3">
              <img src="{% static "img/DPace Logo.png" %}" style="height:70px" />
          </div>
          <div class="card-indicator-text">
              <div class="text-light"><h4>Portal Data Pacitan</h4></div>
              <div class="text-secondary" id="header">Beranda</div>
          </div>
        </div>
      </a>
      
      

      

  </div>
</div>

	
</nav>